/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'proxima-nova'
}

a{
  color: #f84848;
  text-decoration: none;
  font-weight: 700;
}

p{
  font-size: 18px;
  color: #f84848;
  font-weight: bold;
  letter-spacing: 2px;
}

h1 {
color: #79d1ff;
font-size: 50px;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 8px;
line-height: .8;
}
h2{
  color: #79d1ff;
}
h3 {
font-weight: 700;
color: #f84848;
font-size: 34px;
}
h4.featured {
font-weight: 700;
color: #79d1ff;
}
.huge{
  font-size: 140px;
  line-height: 1;
}
section {
overflow: hidden;
width: 100%;
}
.italic{
  font-style: italic;
}
/* ==========================================================================
   Audio Player
   ========================================================================== */
   /* Audio Player*/
.audiojs .scrubber {
position: relative;
float: left;
width: 47%;
background: #5a5a5a;
height: 14px;
margin: 10px;
border-top: 1px solid #3f3f3f;
border-left: 0px;
border-bottom: 0px;
overflow: hidden;
}
#audiojs_wrapper0{
  width: 100%;
}
.scrubber{
  background-color: rgba(0,0,0,0)!important;
  border: 1px solid #D8D8D8!important;
}
.audiojs{
  background-color: rgba(0,0,0,0)!important;
  background-image: none!important
}
.audiojs .loaded{
  background-color: rgba(0,0,0,0)!important;
  background-image: none!important
}
.audiojs .progress{
  color: #eeeeee;
}
.audiojs .play-pause{
  border-right: 0px solid #000!important;
  width: 40px;
}
.audiojs .time{
  border-left: 0px solid #000!important;
  color: #000!important;
}

.audiojs .time {
float: none!important;
}

.play-pause>p{
  display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 1.3em;
}
p.play:before{
  content: "\f04b";
  top: 5px;
  left: 5px;
  position: relative;
}
p.pause:before{
  content: "\f04c";
  top: 5px;
  left: 5px;
  position: relative;
}
 p.loading{
  background: no-repeat center url("../img/spinnerLarge.gif")!important;
  background-size: contain!important;
  position: relative;
  top:-5px;
}
/* ==========================================================================
   Header
   ========================================================================== */
  .top-slider img {
  width: 85%;
  margin: 0 auto;
  }
ul.onepage-pagination {
display: none;
}
a.navbar-brand {
width: 75%;
}
  #menu-primary-navigation li{
    font-family: 'proxima-nova';
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
  }
  #menu-primary-navigation> li>a{
    color: #fff;
  }
  .navbar{
    margin-bottom: 0px!important;
  }
  .top-slider {
margin-left: -15px;
margin-right: -15px;
}

  .flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 50px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(185, 185, 185, 0.4); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: 20px;opacity: 1; }
.flex-direction-nav .flex-next { right: 20px; text-align: right;opacity: 1;  }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }
/* ==========================================================================
   Home
   ========================================================================== */  
  /* [ABOUT] */
  img.about-guitar{
    display: none;
  }
  img.about-trumpet{
    display: none;
  }
  img.about-denver {
    left: 18%;
    bottom: 0;
    }
  .full-height{
    height: 100%;
  }
  .about-imgs-container img {
  position: absolute;
  }
  #news{
    background: url(../img/BG.jpg);
    background-size: cover;
  }
  .home-people img {
    position: absolute;
    top: 125px;
    }
.round-box {
background: #fff;
padding: 20px;
border-radius: 15px;
box-shadow: 2px 2px 1px rgba(0,0,0,.2);
padding: 10px;
}
.about-wrap p {
display: none;
}
.about-wrap > p:nth-child(2) {
display: block;
}
  /* [MUSIC] */
  .music .album-img{
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  }
  .album-img {
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  }
  div.row.music-player {
  padding-top: 2%;
  }
  #music {
background: url(../img/denver-album.png) no-repeat;
background-size: contain;
background-position: -44% 0%;
}
  .circles {
background: url(../img/circles.png) no-repeat;
background-size: 60%;
padding-top: 10%;
background-position: 50% 50%;
}
.music-wrapper{
  background: #fff;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 15px;
}
  /* [TOUR]*/
  #tour{
    background: url(../img/bg-red.jpg) no-repeat;
    background-size: cover;
  }
  img.img-responsive.people {
  left: 22%;
  top: -30px;
  position: absolute;
  }
  .round-box.tour-box {
  margin-top: 25px;
  }
  button.btn-tix.btn {
color: #fff;
font-weight: 700;
background: #79d1ff;
}
  /* [STORE] */
  .store-title-wrap {
  text-align: center;
  }
.store-img {
margin: 0 auto;
}
a.btn.btn-click {
color: #fff;
font-weight: 700;
background: #f84848;
font-size: 26px;
margin-top: 25px;
}
a.btn.btn-click.small {
font-size: 18px;
}
.store-title-wrap h1 {
line-height: .8;
}

/* [NEWS] */
#news{
  z-index: 5;
}
h1.news {
color: #F84848;
}

/* ==========================================================================
   About
   ========================================================================== */
   .about-bg{
    background: url(../img/about-denver.jpg) no-repeat;
   }
  .about-bg {
  background: url(../img/about-denver.jpg) no-repeat;
  background-attachment: fixed;
  background-position: -5% 3%;
  background-size: 50%;
  }
  .about h1 {
  margin-bottom: 35px;
  margin-top: 30px;
  }
/* ==========================================================================
   Header
   ========================================================================== */

.banner {background: #f84848; width: 100%;}





/* ==========================================================================
   Music
   ========================================================================== */
.album-img> img{
  width: 100%;
}
.album-desc {
font-size: 18px;
color: #f84848;
font-weight: bold;
letter-spacing: 2px;
}


/* ==========================================================================
   Photos
   ========================================================================== */
.photo-gal header {
display: none;
}


/* ==========================================================================
   News
   ========================================================================== */
h2.post-title {
font-size: 64px;
font-weight: 900;
color: #f84848;
}
.blog .round-box {
background: #fff;
padding: 20px;
border-radius: 15px;
box-shadow: 2px 2px 1px rgba(0,0,0,.2);
border: 1px solid rgb(238, 238, 238);
min-height: 375px;
}
.page-header {
text-align: center;
border: transparent;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.sidebar{display: none!important;}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Store
   ========================================================================== */
.store-prod-img {
height: 375px;
}
.home .song-list{
  display: none;
}
.song-list{
  list-style: none;
}
.albums h1 {
margin-top: 0px;
}
  /*SoundManager Css*/
    .track-title {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 5px;
    }
    .play-button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    float: left;
    }

    .play-button i {padding: 7px 9px;}

    .sm2_link .fa :before, .sm2_paused .fa:before {
    content: "\f04b";
    }
    .sm2_playing .fa:before{
      content: "\f04c";
    }
    a.sm2_button {
     position:relative;
     display:inline-block; /* If you worry about old browser bugs, Firefox 2 might not like this and may need -moz-inline-box instead. :D */
     width:18px;
     height:18px;
     text-indent:-9999px; /* don't show link text */
     overflow:hidden; /* don't draw inner link text */
     vertical-align:middle;
     /* and, a bit of round-ness for the cool browsers. */
     border-radius:6px;
     margin-top:-1px; /* vertical align tweak */
     /* safari 3.1+ fun (/W3 working draft extension, TBD.) */
     -webkit-transition-property: hover;
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out 0s; /* firefox 4 (couldn't sort out -moz-transform vs. MozTransform, so, "all" for now) */
     -o-transition-property: background-color; /* opera 10.5 */
     -o-transition-duration: 0.15s;
     /* weird IE 6/7 display fixes, and/or I'm doing it wrong */
     *text-indent:0px;
     *line-height:99em;
     *vertical-align: top;
    }

    a.sm2_button:focus {
     outline:none; /* maybe evil, but don't show the slight border outline on focus. */
    }

    a.sm2_button,
    a.sm2_button.sm2_paused:hover {
     background-color:#3399cc;
     background-image:url(../image/arrow-right-white.png);
     /* where possible, use data: and skip the HTTP request. Fancy-pants. Would use short-hand background: for above, but IE 8 doesn't override background-image. */
     background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAYAAABmBXS+AAAAbklEQVQY02NgQAL//v1jZMAF/v//vwuIs9HEUBUBTbj4HwIeA3EGVsVAxtn/qOAVUGM8uknIiv4hsV8A5ZKxKfoLVvnvHwifAzLtMKwDSQLBVSBti27dJajkcSD2RJODO3wtkOOMz/tMSJJYAxMA5dmsL0IfubQAAAAASUVORK5CYII=);
     *background-image:url(../image/arrow-right-white.gif); /* IE 6+7 don't do DATA: URIs */
     background-repeat:no-repeat;
     background-position:5px 50%;
     *background-position:5px 4px; /* IE 6 again */
    }

    a.sm2_button:hover,
    a.sm2_button.sm2_playing,
    a.sm2_button.sm2_playing:hover {
     background-color:#cc3333;
    }

    a.sm2_button.sm2_playing,
    a.sm2_button.sm2_playing:hover {
     -moz-transform:rotate(90deg);
     -webkit-transform:rotate(90deg);
     -ms-transform:rotate(90deg);
    }

    a.sm2_button.sm2_paused,
    a.sm2_button.sm2_paused:hover {
     background-color:#666;
    }
}
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .top-slider {
margin-left: 0px;
margin-right: 0px;
}
a.btn.btn-click {
font-size: 36px;
}

a.navbar-brand {
width: 100%;
}

.navbar-header {
width: 50%;
height: 100px;
}
nav.collapse.navbar-collapse {
width: 45%;
float: left;
}
ul#menu-primary-navigation {
margin-top: 25px;
}
h1 {
font-size: 82px;
}
.huge {
font-size: 200px;
line-height: 1;
}
.onepage-wrapper .section {
width: 100%;
height: 85%;
}

/*[ABOUT]*/
img.about-trumpet {
width: 65%;
z-index: 1;
left: -150px;
display: block
}
img.about-guitar {
right: -75px;
display: block;
}
img.about-denver {
left: 2%;
bottom: 0;
width: 112%;
max-width: 112%;
}
/*[NEWS]*/
img.mr-blue {
right: 0px;
width: 175px;
}
img.mr-green {
right: 450px;
width: 265px;
}
img.mr-grey {
width: 265px;
right: 57px;
}
img.mr-red {
width: 180px;
right: 245px;
}
img.mr-stripe {
width: 300px;
right: 315px;
}
/*[MUSIC]*/
.circles {
padding-top: 6%;
margin-top: 0%;
min-height: 485px;
padding-left: 7%;
}
#music {
background-position: -340% 0%;
}

/*[TOUR]*/
img.img-responsive.people {
left: 22%;
top: 250px;
width: 60%;
}
#tour h1 {
text-align: center;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.affix{
   transition: top .7s ease;
   top: 0;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  img.img-responsive.people {
left: 22%;
top: -30px;
width: 100%;
position: absolute;
}
#music {
background-position: -44% 0%;
}
img.mr-green {
left: 0px;
width: initial;
 }
 img.mr-blue {
width: initial;
}
img.mr-grey {
width: initial;
}
img.mr-red {
width: initial;
}
img.mr-stripe {
width: initial;
}
  .onepage-wrapper .section {
  width: 100%;
  height: 115%;
}
.col {
margin-left: 9%;
margin-right: 9%;
}
h1 {
  font-size: 126px;
}
.huge {
font-size: 212px;
line-height: 1;
}
/*[about-home]*/
.navbar img {
width: 70%;
}
.navbar-header {
width: 50%;
height: 65px;
}
ul#menu-primary-navigation {
margin-top: 15px;
}
  .home section {
  height: 920px;
  }
  img.about-trumpet {
  width: 67%;
  z-index: 5;
  left: -21%;
  top: 340px;
  }

  img.about-guitar {
    right: -8%;
    top: 100px;
    }
    img.about-denver {
    left: 18%;
    bottom: 0;
    width: 100%;
    }
/*[news-home]*/
  img.mr-blue {
  right: 10%;
  }
  img.mr-grey {
  right: 15%;
  top: 50px;
  }
  img.mr-red {
  right: 40%;
  top: 80px;
  }
  img.mr-stripe {
right: 49%;
top: 110px;
}
  /*[MUSIC-HOME]*/
  .circles {
  background: url(../img/circles.png) no-repeat;
  background-size: 60%;
  padding-top: 8%;
  padding-bottom: 5%;
  background-position: 50% 50%;
  }

 }


/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Direction Nav */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
   font-family: 'flexslider-icon';
   src:url('fonts/flexslider-icon.eot');
   src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
      url('fonts/flexslider-icon.woff') format('woff'),
      url('fonts/flexslider-icon.ttf') format('truetype'),
      url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
   font-weight: normal;
   font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/

.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px;  -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 50px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: #F84848; text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: 50px; }
.flex-direction-nav .flex-next { right: 50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }
ol.flex-control-nav.flex-control-paging {
display: none;
}
/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}



.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}



.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}

.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
    #cboxTopLeft{width:14px; height:14px; background:url(../img/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(../img/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(../img/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(../img/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(../img/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(img/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(../img/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(../img/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible;  position:absolute; bottom:-29px; background:url(../img/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}

        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}